#forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 20rem;
    overflow: hidden;
    height: 20rem;
    z-index: 9999;
}

#forkongithub a {
    background: #000;
    color: #FFF;
    text-decoration: none;
    font-family: arial,sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 1rem 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
    width: 26rem;
    position: absolute;
    top: 6rem;
    right: -5rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0,0,0,0.8);
    transition: 500ms;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#forkongithub a:hover {
    background: #C11;
}
#forkongithub a:before {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0;
    height: 0;
    border-top-style: dashed;
    border-top-width: 0.2rem;
    border-top-color: #FFF;
}

#forkongithub a:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0.2rem;
    top: auto;
    left: 0;
    height: 0;
    border-bottom-style: dashed;
    border-bottom-width: 0.2rem;
    border-bottom-color: #FFF;
}